/EDA
/ollama-docker
/results.py
/vllm_huggingface_cache
*.sqlite3
*.zip
/output/*
*.bin
*.pt
/plugin/gcn/graph_data/*
/plugin/gcn/checkpoints/*
/plugin/gcn/plots/*
*.json
*.csv
__pycache__/
*.mdb
*.png
*.db
*.zip
*.df
*.txt
*.jsonl
storage
scripts
.env
*.faiss
*.pkl